<h1>Lista de Compras</h1>
<input type="text" [(ngModel)]="novoProduto" /><br />
<ul>
  <li *ngFor="let produtosLista of listaDeCompras">{{ produtosLista }}</li>
</ul>
<button [ngClass]="estilo" (click)="adicionarProdutosLista()">
  ADICIONAR AO CARRINHO
</button>

<div *ngIf="IsAliveModel" style="text-align: right;">
  <img
    src="./assets/carrinho de compras.png"
    alt="Carrinho de compras"
    width="150px"
    height="100px"
  /><br />
  <a class="FinalizaCompra"
     href="#"
     style="color: blue"
     (click)="finalizaCompra()"
     >FINALIZAR COMPRA</a>
</div>





