<div *ngIf="isDead">
<app-card *ngIf="isAliveCard; else apelido"></app-card>

<ng-template #apelido>
<h2>APP-CARD FOI REMOVIDO</h2>
</ng-template>

<button (click)="removerApp()" (dblclick)="removeTudo()">Remover app-card</button>
</div>

<app-comp-atributos *ngIf="ComprasFinalizada; else comprafinalizada"></app-comp-atributos>
<br>
<hr>
<br>
<button (click)="terminarCompra()">FINALIZAR COMPRA</button>

<ng-template #comprafinalizada>
<div *ngIf="isAliveImage">
  <img src="/assets/Agradecendo-Cliente.png" alt="Desenho agradecendo a compra feita.">
</div>
<h3>Obrigado por ter visto meu código, agora eu o desafio a fazer um igual e me marcar no linkedin ou facebook. <br>
 <a href="https://github.com/F3RN4ND0-3DU4RD0"> Meu GitHub</a>
 <a href="https://www.linkedin.com/in/fernando-eduardo-60bab5241/"> Meu Linkedin</a>
</h3>
</ng-template>
<router-outlet></router-outlet>
